.bg-movie {
    background: url(../IMG/BG/hero-bg.jpg) no-repeat;
    height: 400px;
    background-position: center center;
}

.opaci::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
}

.movie-single>h1 {
    font-family: 'Dosis', sans-serif;
}

.movie-rate i {
    font-size: 25px;
}

.movie-tabs ul li {
    margin-right: 5%;
}

.movie-tabs ul li .nav-link {
    border: unset;
}

.movie-tabs ul li .nav-link.active {
    background-color: unset;
    border: unset;
    border-bottom: 3px solid #dcf836;

}

.movie-tabs ul li .nav-link:hover {
    border: unset;
    border-bottom: 3px solid #dcf836;
}

.mv-single-item a {
    transition: 0.5s;
}

.mv-single-item a:hover {
    filter: brightness(115%);
}

.item-btn {
    backface-visibility: hidden;
    transition: transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    text-transform: uppercase;
}

.item-btn>a {
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}

.item-1 {
    transform: rotateX(0deg);
}

.item-2 {
    transform: rotateX(180deg);
}

.btn-transform:hover .item-1 {
    transform: rotateX(180deg);
}

.btn-transform:hover .item-2 {
    transform: rotateX(0deg);
}

.cast-it a {
    text-decoration: none;
    color: #4280bf;
}

.cast-it a:hover {
    color: #dc3545;
}

p {
    font-family: 'Nunito', sans-serif;
}

.sb-it a {
    text-decoration: none;
    color: #4280bf;
    font-family: 'Dosis', sans-serif;
}

.sb-it a:hover {
    color: #dc3545;
}

.sb-it h6 {
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}

.sb-it p {
    width: 200px;
}

.movie-single h1,
a {
    color: snow;
}

.media-mb {
    margin-top: -295px;
}

.nav-link.active {
    color: snow !important;
}

@media only screen and (max-width: 400px) {
    .media-mb {
        margin-top: 0;
    }

    .movie-single h1 {
        color: black !important;
        text-align: center;
    }

    .movie-tabs ul li {
        margin-right: 0;
    }

    .nav-link.active {
        color: black !important;
    }

    .text-mb>a {
        color: black !important;
    }
}

.progress-step {
    height: 95%;
}

.step-selected>.active {
    background: url(../IMG/Uploads/selected.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    line-height: inherit;
    color: snow !important;
}

.step-unselected {
    background: url(../IMG/Uploads/unselect.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    line-height: inherit;
    color: snow;
}

.progress-step {
    font-family: 'Dosis', sans-serif;
    text-decoration: none;
    font-size: 1rem;
}

#screen {
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(26, 25, 25, 0.7);
    height: 2rem;
}

.seat:hover{
    box-shadow: 0px 0 7px 3px lightcyan;
}

