<!doctype html>
<html lang="en" ng-app="myApp">

<head>
    <title>USER</title>
    <link rel="icon" type="image/x-icon" href="IMG/Icon_app.png">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font Google  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/user.css">

    <!-- Icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

    <!-- AngularJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"
        integrity="sha512-KZmyTq3PLx9EZl0RHShHQuXtrvdJ+m35tuOiwlcZfs/rE7NZv29ygNA8SFCkMXTnYZQK2OX0Gm2qKGfvWEtRXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>

<body ng-app="">
    <header class="sticky-top" style="z-index: 2;">
        <!-- place navbar here -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <div class="logo-mobile d-lg-none">
                    <a href="index.html">
                        <img src="IMG/4tlix-logo.png" style="width: 280px;" alt=""></a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="row w-100 d-flex flex-row">
                        <div class="col-2 logo">
                            <a class="navbar-brand " href="index.html">
                                <img src="IMG/4tlix-logo.png" alt=""
                                    class="d-inline-block align-text-top position-absolute" id="logo"
                                    style="width: 17%;">
                                <img src="IMG/4tlix-logo-bg.png" alt=""
                                    class="d-inline-block align-text-top position-absolute" id="bg-logo"
                                    style="width: 17%;">
                            </a>
                        </div>
                        <div class="col-9 ms-2">
                            <div class="row">
                                <div class="col-6">
                                    <ul class="navbar-nav me-auto ms-3 mb-2 mb-lg-0">

                                        <li class="nav-item btn-nav b1">
                                            <a class="nav-link" href="index.html"><i class="fa-solid fa-house"></i>
                                                HOME</a>
                                        </li>
                                        <li class="nav-item btn-nav b1">
                                            <a class="nav-link" href="#"><i class="fa-solid fa-clapperboard"></i>
                                                MOVIES</a>
                                        </li>
                                        <li class="nav-item btn-nav b1">
                                            <a class="nav-link" href="#"><i class="fa-solid fa-star"></i> NEW</a>
                                        </li>
                                        <li class="nav-item btn-nav b1">
                                            <a class="nav-link" href="#"><i class="fa-solid fa-phone"></i> CONTACT</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-6 d-flex flex-row-reverse">
                                    <div class="login">
                                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                            <li class="nav-item">
                                                <form class="d-md-flex flex-row mb-2">
                                                    <div class="input-group">
                                                        <input type="search" class="form-control rounded-start"
                                                            placeholder="Search" aria-label="Search"
                                                            aria-describedby="search-addon" />
                                                        <button type="button" class="btn btn-danger w-25"><i
                                                                class="fa-solid fa-magnifying-glass"></i></button>
                                                    </div>
                                                </form>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" aria-current="page" href="#">HELP</a>
                                            </li>
                                            <li class="nav-item">
                                                <button type="button" class="btn text-light fw-bold"
                                                    data-bs-toggle="modal" data-bs-target="#Login">
                                                    LOG IN
                                                </button>
                                            </li>
                                            <li class="nav-item">
                                                <button type="button" class="btn btn-danger rounded-4 fw-bold"
                                                    data-bs-toggle="modal" data-bs-target="#SignUp">
                                                    SIGN UP
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!-- Offcanvas Sidebar -->
    <div class="offcanvas offcanvas-start text-bg-dark" id="demo">
        <div class="offcanvas-header">
            <h1 class="offcanvas-title">Menu</h1>
            <button type="button" class="btn-close bg-light text-reset" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <div class="row d-flex">
                <div class="col-12 d-flex flex-row-reverse">
                    <div class="login w-100">
                        <li class="nav-item list-unstyled ">
                            <form class="d-md-flex flex-row mb-3">
                                <div class="input-group">
                                    <input type="search" class="form-control rounded-start" placeholder="Search"
                                        aria-label="Search" aria-describedby="search-addon" />
                                    <button type="button" class="btn btn-danger w-25"><i
                                            class="fa-solid fa-magnifying-glass"></i></button>
                                </div>
                            </form>
                        </li>
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex flex-row justify-content-evenly w-100">

                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="#">HELP</a>
                            </li>
                            <li class="nav-item">
                                <button type="button" class="btn text-light fw-bold" data-bs-toggle="modal"
                                    data-bs-target="#Login">
                                    LOG IN
                                </button>
                            </li>
                            <li class="nav-item">
                                <button type="button" class="btn btn-danger rounded-4 fw-bold" data-bs-toggle="modal"
                                    data-bs-target="#SignUp">
                                    SIGN UP
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex text-center w-100">
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa-solid fa-house"></i>
                                HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa-solid fa-clapperboard"></i>
                                MOVIES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa-solid fa-star"></i> NEWS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa-solid fa-phone"></i> CONTACT</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal Sign In -->
    <div class="modal fade" id="Login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="width: 85%;">
                <div class="modal-header border border-0 justify-content-center">
                    <h1 class="modal-title fs-5 text-uppercase fw-bold" id="exampleModalLabel">Login</h1>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label text-dark">Username</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Username">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label text-dark">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1"
                                placeholder="**********">
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Remember me</label>
                            <label class="float-end mt-1" for=""><a href=""
                                    class="text-dark text-decoration-none">Forget password ?</a></label>
                        </div>
                        <div class="mb-3 d-flex justify-content-center">
                            <button type="submit" class="btn btn-danger w-100">Log In</button>

                        </div>
                    </form>
                </div>
                <div class="modal-footer d-block border border-0">
                    <div class="mb-3">
                        <p>Or via social</p>
                    </div>
                    <div class="row">
                        <div class="col"> <button type="button" class="w-100 btn btn-primary fw-bold text-uppercase"><i
                                    class="fa-brands fa-facebook-f"></i> Facebook</button>
                        </div>
                        <div class="col"> <button type="button"
                                class="w-100 btn btn-info text-light fw-bold text-uppercase"><i
                                    class="fa-brands fa-twitter"></i> twitter</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Sign Up -->
    <div class="modal fade" id="SignUp" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header border border-0 justify-content-center">
                    <h1 class="modal-title fs-5 text-uppercase fw-bold" id="exampleModalLabel">Sign Up</h1>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label text-dark">Username</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label text-dark">Fullname</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label text-dark">Email</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label text-dark">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label text-dark">RE-TYPE PASSWORD</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="">
                        </div>
                        <div class="mt-2 d-flex justify-content-center">
                            <a class=" btn btn-danger text-light text-decoration-none w-100" href="user.html">Log In</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <main class="position-relative" ng-controller="checkUser">
        <!-- Profile -->
        <div class="bg-profile position-relative bg-dark w-100 d-none d-lg-flex">
        </div>
        <div class="profile position-relative w-100 d-flex justify-content-around h-100 pb-4">
            <div class="row justify-content-center g-2 w-75 h-100">
                <div class="col-lg-2 col-12 me-lg-5 W-100 me-0 mt-0 sticky-lg-top user-infor">
                    <div class="user-img row justify-content-center">
                        <a class="d-flex justify-content-center" href="">
                            <img class="rounded-circle w-75 my-3" src="./IMG/User/ava.jpg" alt="avatar">
                        </a>
                        <button class="btn btn-danger w-75"><a
                                class="text-decoration-none fw-bold text-light text-uppercase" href="">Change
                                avatar</a></button>
                    </div>
                    <div class="user-fav my-3">
                        <p>Account Details</p>
                        <ul class="list-unstyled">
                            <li><a class="text-decoration-none text-warning" href="">PROFILE</a></li>
                            <li><a class="text-decoration-none" href="">FAVORITE MOVIES</a></li>
                            <li><a class="text-decoration-none" href="">RATED MOVIES</a></li>
                        </ul>
                    </div>
                    <div class="user-fav d-lg-flex flex-lg-column">
                        <p>Others</p>
                        <ul class="list-unstyled">
                            <li><a class="text-decoration-none" href="">CHANGE PASSWORD</a></li>
                            <li><a class="text-decoration-none" href="">LOG OUT</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-6 col-12 h-75 mt-0 user-form">
                    <div class="col">
                        <h1 class="text-light fw-bold text-uppercase">Khanh Nguyen - Profile</h1>
                    </div>
                    <div class="col mb-3">
                        <h6 class="text-light text-uppercase"><span class="text-info">Home</span> <i
                                class="fa-solid fa-chevron-right"></i> profile</h6>
                    </div>
                    <div class="col h-100">
                        <div class="user-form-input">
                            <h6 class="text-light ms-4 my-3">01. PROFILE DETAILS</h6>
                            <form class="mx-3" name="userForm">
                                <div class="row d-flex flex-lg-row flex-column mb-3">
                                    <div class="col">
                                        <label for="email" class="form-label">Email:</label>
                                        <input type="email" class="form-control text-info" placeholder="Enter email"
                                            id="email" name="email" ng-model="email" required>
                                        <!-- ERROR FOR EMAIL -->
                                        <span class="text-info" ng-show="userForm.email.$valid">
                                            Looks good!
                                        </span>
                                        <span class="text-warning"
                                            ng-show="userForm.email.$dirty && userForm.email.$invalid">
                                            <span ng-show="userForm.email.$error.required">Email is required.</span>
                                            <span ng-show="userForm.email.$error.email">Invalid email address.</span>
                                        </span>
                                        <!-- ERROR FOR EMAIL -->
                                    </div>
                                    <div class="col">
                                        <label for="pass" class="form-label">Password:</label>
                                        <input type="password" class="form-control text-info"
                                            placeholder="Enter password" name="pass" minlength="5" maxlength="16"
                                            ng-model="pass" required>
                                        <!-- ERROR FOR PASSWORD -->
                                        <span class="text-info" ng-show="userForm.pass.$valid">
                                            Looks good!
                                        </span>
                                        <span class="text-warning"
                                            ng-show="userForm.pass.$dirty && userForm.pass.$invalid">
                                            <span ng-show="userForm.pass.$error.required">Password is required.</span>
                                            <span ng-show="userForm.pass.$error.minlength">Passwords must be greater
                                                than 5 characters!</span>
                                            <span ng-show="userForm.pass.$error.maxlength">The password must not exceed
                                                16 characters!</span>
                                        </span>
                                        <!-- ERROR FOR PASSWORD -->
                                    </div>
                                </div>
                                <div class="row d-flex flex-lg-row flex-column mb-3">
                                    <div class="col">
                                        <label for="fname" class="form-label">Full name:</label>
                                        <input type="text" class="form-control text-info" placeholder="First name"
                                            name="fname" maxlength="25" ng-model="fname" required>
                                        <!-- ERROR FOR FIRST NAME -->
                                        <span class="text-info" ng-show="userForm.fname.$valid">
                                            Looks good!
                                        </span>
                                        <span class="text-warning" ng-show="userForm.fname.$dirty">
                                            <span ng-show="userForm.fname.$error.required">Full name is
                                                required.</span>
                                        </span>
                                        <!-- ERROR FOR FIRST NAME -->
                                    </div>
                                    <div class="col">
                                        <label for="phone" class="form-label">Phone number:</label>
                                        <input type="text" class="form-control text-info" placeholder="Phone number"
                                            name="phone" id="phone" maxlength="10" minlength="10" ng-model="phone"
                                            pattern="\d+" required>
                                        <!-- ERROR FOR PHONE NUMBER -->
                                        <span class="text-info" ng-show="userForm.phone.$valid">
                                            Looks good!
                                        </span>
                                        <span class="text-warning d-flex flex-column" ng-show="userForm.phone.$dirty">
                                            <span ng-show="userForm.phone.$error.required">Phone number is
                                                required!</span>
                                            <span ng-show="userForm.phone.$error.pattern">Please fill number!</span>
                                            <span ng-show="userForm.phone.$invalid">Incorrect phone number!</span>
                                        </span>
                                        <!-- ERROR FOR PHONE NUMBER -->
                                    </div>
                                </div>
                                <div class="row d-flex flex-lg-row flex-column mb-3">
                                    <div class="col">
                                        <label for="district" class="form-label">District:</label>
                                        <select class="form-select" ng-model="district" required>
                                            <option selected disabled value="">Choose...</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                        </select>
                                        <span class="text-info" ng-show="userForm.district.$valid">
                                            Looks good!
                                        </span>
                                        <span class="text-warning" ng-show="userForm.district.$dirty">
                                            <span ng-show="userForm.district.$error.required">District is
                                                required.</span>
                                        </span>
                                    </div>
                                    <div class="col">
                                        <label for="city" class="form-label">City:</label>
                                        <select class="form-select" ng-model="city" required>
                                            <option selected disabled value="">Choose...</option>
                                            <option value="hcm">Ho Chi Minh</option>
                                            <option value="hn">Ha Noi</option>
                                            <option value="na">Nghe An</option>
                                            <option value="td">Thu Duc</option>
                                        </select>
                                        <span class="text-info" ng-show="userForm.city.$valid">
                                            Looks good!
                                        </span>
                                        <span class="text-warning" ng-show="userForm.city.$dirty">
                                            <span ng-show="userForm.city.$error.required">City is required.</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="row d-flex flex-lg-row flex-column">
                                    <div class="col d-flex justify-content-center justify-content-lg-start">
                                        <button type="submit" class="btn btn-danger text-uppercase fw-bold rounded-pill"
                                            ng-click="pay(this)">save</button>
                                    </div>
                                </div>
                            </form>


                            <h6 class="text-light ms-4 mt-4 mb-3">02. CHANGE PASSWORD</h6>
                            <form class="mx-3 needs-validation" name="passForm">
                                <div class="row d-flex flex-column mb-3">
                                    <div class="col mb-3">
                                        <label for="pswd" class="form-label">Old Password:</label>
                                        <input type="password" class="form-control text-info"
                                            placeholder="Enter old password" name="pswd" ng-model="pswd" minlength="5"
                                            maxlength="16" required>
                                        <!-- ERROR FOR OLD PASS -->
                                        <span class="text-info" ng-show="passForm.pswd.$valid">
                                            Looks good!
                                        </span>
                                        <span class="text-warning d-flex flex-column"
                                            ng-show="passForm.pswd.$dirty && passForm.pswd.$invalid">
                                            <span ng-show="passForm.pswd.$error.required">Old Password is
                                                required!</span>
                                            <span ng-show="passForm.pswd.$error.minlength">Passwords must be greater
                                                than 5 characters!</span>
                                            <span ng-show="passForm.pswd.$error.maxlength">The password must not exceed
                                                16 characters!</span>
                                        </span>
                                        <!-- ERROR FOR OLD PASS -->
                                    </div>
                                    <div class="col">
                                        <label for="newpswd" class="form-label">New Password:</label>
                                        <input type="password" class="form-control text-info"
                                            placeholder="Enter new password" name="newpswd" ng-model="newpswd"
                                            minlength="5" maxlength="16" required>
                                        <!-- ERROR FOR NEW PASS -->
                                        <span class="text-info" ng-show="passForm.newpswd.$valid">
                                            Looks good!
                                        </span>
                                        <span class="text-warning d-flex flex-column"
                                            ng-show="passForm.newpswd.$dirty && passForm.newpswd.$invalid">
                                            <span ng-show="passForm.newpswd.$error.required">New Password is
                                                required!</span>
                                            <span ng-show="passForm.newpswd.$error.minlength">Passwords must be greater
                                                than 5 characters!</span>
                                            <span ng-show="passForm.newpswd.$error.maxlength">The password must not
                                                exceed 16 characters!</span>
                                        </span>
                                        <!-- ERROR FOR NEW PASS -->
                                    </div>
                                </div>
                                <div class="row d-flex flex-column mb-3">
                                    <div class="col">
                                        <label for="repswd" class="form-label">Re-Password:</label>
                                        <input type="password" class="form-control text-info"
                                            placeholder="Enter Re-Password" name="repswd" pattern="{{newpswd}}"
                                            ng-model="repswd" minlength="5" maxlength="16" required>
                                    </div>
                                    <!-- ERROR FOR RE-PASS -->
                                    <span class="text-info" ng-show="passForm.repswd.$valid">
                                        Looks good!
                                    </span>
                                    <span class="text-warning d-flex flex-column"
                                        ng-show="passForm.repswd.$dirty && passForm.repswd.$invalid">
                                        <span ng-show="passForm.repswd.$error.pattern">Re-password is not the same as
                                            the new password!</span>
                                    </span>
                                    <!-- ERROR FOR RE-PASS -->
                                </div>
                                <div class="row mb-lg-3 mb-3">
                                    <div class="col d-flex justify-content-center justify-content-lg-start">
                                        <button type="submit" class="btn btn-danger text-uppercase fw-bold rounded-pill"
                                            ng-click="pay(this)">
                                            change</button>
                                    </div>
                                </div>
                            </form>
                            <!-- notification -->
                            <div class="toast-container position-fixed end-0 p-3" style="top: 10%;">
                                <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                                    <div class="toast-header bg-success text-light" ng-show="PaySuccess">
                                        <!-- Success -->
                                        <strong class="me-auto text-uppercase" ng-show="PaySuccess"><i
                                                class="fa-regular fa-circle-check fs-5"></i> successful !</strong>
                                        <small>11 mins ago</small>
                                        <button type="button" class="btn-close" data-bs-dismiss="toast"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="toast-header bg-danger text-light" ng-show="PayFail">
                                        <!-- Fail -->

                                        <strong class="me-auto text-uppercase align-content-center" ng-show="PayFail"><i
                                                class="fa-regular fa-circle-xmark fs-5"></i> failure !</strong>
                                        <small>11 mins ago</small>
                                        <button type="button" class="btn-close" data-bs-dismiss="toast"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="toast-body">
                                        <div ng-show="PaySuccess">Update successful!</div>
                                        <div ng-show="PayFail">Update fail, please check the information!
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- notification -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Profile -->

        <!-- Footer -->
        <div class="footer position-relative bg-dark w-100 h-100">
            <div class="row d-flex justify-content-center align-items-center g-2 mx-3">
                <div class="col-12 col-lg mt-4 mx-4 text-lg-start text-center">
                    <img src="IMG/4tlix-logo.png" class="w-100 h-100 pb-4" alt="logo">
                    <ul class="list-unstyled">
                        <li><a class="text-decoration-none" href="">5th Avenue st, manhattan</a></li>
                        <li><a class="text-decoration-none" href="">New York, NY 10001</a></li>
                        <br>
                        <li><a class="text-decoration-none" href="">Call us: <span class="text-light fs-5">(+01) 202 342
                                    6789</a></li>
                    </ul>
                </div>
                <div class="col-12 col-lg mt-4 mx-2 text-lg-start text-center">
                    <h4 class="text-light">Resources</h4>
                    <ul class="list-unstyled">
                        <li><a class="text-decoration-none" href="">About</a></li>
                        <li><a class="text-decoration-none" href="">4TLIX</a></li>
                        <li><a class="text-decoration-none" href="">Contact Us</a></li>
                        <li><a class="text-decoration-none" href="">Forums</a></li>
                        <li><a class="text-decoration-none" href="">Blog</a></li>
                        <li><a class="text-decoration-none" href="">Help Center</a></li>
                    </ul>
                </div>
                <div class="col-12 col-lg mt-4 mx-2 text-lg-start text-center">
                    <h4 class="text-light">Legal</h4>
                    <ul class="list-unstyled">
                        <li><a class="text-decoration-none" href="">Terms of Use</a></li>
                        <li><a class="text-decoration-none" href="">Privacy Policy</a></li>
                        <li><a class="text-decoration-none" href="">Security</a></li>
                    </ul>
                </div>
                <div class="col-12 col-lg mt-4 mx-2 text-lg-start text-center">
                    <h4 class="text-light">Account</h4>
                    <ul class="list-unstyled">
                        <li><a class="text-decoration-none" href="">My Account</a></li>
                        <li><a class="text-decoration-none" href="">Watchlist</a></li>
                        <li><a class="text-decoration-none" href="">Collections</a></li>
                        <li><a class="text-decoration-none" href="">User Guide</a></li>
                    </ul>
                </div>
                <div class="col-12 col-lg mt-4 mx-2 text-lg-start text-center">
                    <h4 class="text-light">Newsletter</h4>
                    <ul class="list-unstyled">
                        <li><a class="text-decoration-none" href="">Subscribe to our newsletter system now
                                to get latest news from us.</a></li>
                        <li>
                            <div class="form-floating mb-3">
                                <input style="height: 5%;" type="email" class="form-control bg-dark" id="floatingInput"
                                    placeholder="name@example.com">
                                <label for="floatingInput">Enter your email</label>
                            </div>
                        </li>
                        <li><a class="text-decoration-none text-danger fw-bold" href="">SUBSCRIBE NOW <i
                                    class="fa-solid fa-chevron-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Footer -->
    </main>

    <!-- Bootstrap JavaScript Libraries -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>

    <!-- Angular js  -->
    <script src="AngularJS/ngApp.js" type="text/javascript"></script>
    <script src="AngularJS/Validation_User.js" type="text/javascript"></script>



    <script>
        const toastTrigger = document.getElementById('liveToastBtn')
        const toastLiveExample = document.getElementById('liveToast')
        if (toastTrigger) {
            toastTrigger.addEventListener('click', () => {
                const toast = new bootstrap.Toast(toastLiveExample)

                toast.show()
            })
        }
    </script>


</body>

</html>